.ng-cloak {
  display: none!important;
}

h1 {margin-bottom: 30px!important; u}

.ttmin-10 {background-color: #116633;} /* green */
.ttmin-20 {background-color: #dd0000;} /*red */
.ttmin-30 {background-color: #2277ff;} /* blue */
.ttmin-40 {background-color: #eeff55;} /* yellow*/
.ttmin-50 {background-color: #7700bb;} /* purple */

.fav-true {
  text-decoration: line-through;
  color: grey;
}

.favs {margin-top: 30px}
.fav li {margin:15px}


/* app css stylesheet */
#sidecontrol {
  padding: 8px;
  margin-top: 5px;
  margin-bottom: 20px;
  font-size: 14px;
  color: inherit;
  background-color: #EEE;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}

.spmt50 {margin-top: 50px;}
.spmt30 {margin-top: 30px;}
.spmb20 {margin-bottom: 20px;}

select.subsearchselect {
  width: 198px;
}

input.subsearchinput {
  width: 190px;
}

body {
  padding-top: 20px;
}

img#overview-map {
  border: 1px solid #CCC;
  margin-top: 8px;
}

#map_canvas {
  width: 300px;
  height: 300px;
  margin: 10px 0px 10px 0px;
  border: 1px solid #ccc;
}

#map_canvas_main {
  width: 700px;
  height: 700px;
  margin: 10px 0px 10px 0px;
  border: 1px solid #ccc;
}

.suburbs {
  list-style: none;
}

.thumb {
  float: left;
  margin: -1em 1em 1.5em 0em;
  padding-bottom: 1em;
  height: 95px;
  width: 95px;
}

.suburbs li {
  clear: both;
  height: 15px;
  padding-top: 5px;
  margin-bottom: 5px;
  width: 188px;
  background-color: white;
}



.suburb-key { 
    opacity: 0.65;
    float: left;
    width: 15px;
    height: 15px;
    margin-right: 20px
}

.suburb-key-filter { 
   opacity: 0.65;
float: right;
width: 12px;
height: 12px;
margin-right: 50px;
margin-top: 2px;
}

ul.suburbs {
  margin: 0 0 9px 5px;

}

/** Detail View **/
img.suburb {
  float: left;
  border: 1px solid black;
  margin-right: 3em;
  margin-bottom: 2em;
  background-color: white;
  padding: 0em;
  height: 300px;
  width: 300px;
}

ul.suburb-thumbs {
  margin: 0;
  list-style: none;
}

ul.suburb-thumbs li {
  border: 1px solid black;
  display: inline-block;
  margin: 3px;
  background-color: white;
}

ul.suburb-thumbs img {
  height: 90px;
  width: 90px;
  padding: 0em;
}

ul.suburb-thumbs img:hover {
  cursor: pointer;
}


ul.specs {
  clear: both;
  margin: 20px 0px;
  padding: 0;
  list-style: none;
}

ul.specs > li {
  display: inline-block;
  width: 160px;
  vertical-align: top;
  padding: 0px 5px 0px 5px;
}

ul.specs > li > span{
  font-weight: bold;
  font-size: 1.2em;
}

ul.specs dt {
  font-weight: bold;
}

h1 {
  border-bottom: 1px solid gray;
}



.fast-facts {
width: 300px;
padding: 15px;
margin-top: 5px;
margin-bottom: 20px;
font-size: 14px;
font-weight: 200;
line-height: 30px;
color: inherit;
background-color: #EEE;
-webkit-border-radius: 6px;
-moz-border-radius: 6px;
border-radius: 6px;
}





