  

.distance-control {
padding: 15px;
margin-top: 5px;
margin-bottom: 10px;
color: inherit;
background-color: #EEE;
-webkit-border-radius: 6px;
-moz-border-radius: 6px;
border-radius: 6px;
}


.navbar .brand {
padding: 23px 5px 0px 70px!important;
}

.brandlogo {
display: block;
float: left;
padding: 0px 20px 0px;
margin-left: -20px;
font-size: 20px;
font-weight: 200;
line-height: 1;
color: #999;
}

/*.navbar-inner {
  height: 70px!important;
  background-color: #231f20!important;
  background-image: none!important;
}*/


.navbar-inner-custom {
  height: 70px!important;
  background-color: #231f20!important;
  background-image: none!important;
}

.maintitle {
  color: white!important;
}

.btn-chip {
position: relative;
float: left;
display: inline-block;
padding: 0px 0px;
margin: 2px 5px 0px 0px;
width: 13px;
height: 13px;
opacity: 0.65;
}



h5 {margin-bottom: 10px!important;}

.ng-cloak {
  display: none!important;
}

h1 {margin-bottom: 30px!important; u}

.ttmin-10 {background-color: #116633!important;} /* green */
.ttmin-20 {background-color: #dd0000;} /*red */
.ttmin-30 {background-color: #2277ff;} /* blue */
.ttmin-40 {background-color: #eeff55;} /* yellow*/
.ttmin-50 {background-color: #7700bb;} /* purple */

.fav-true {
  text-decoration: line-through;
  color: grey;
}

.favs {margin-top: 30px}
.fav li {margin:15px}


/* app css stylesheet */
#sidecontrol {
  padding: 8px;
  margin-top: 5px;
  margin-bottom: 20px;
  font-size: 14px;
  color: inherit;
  background-color: #EEE;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}

.spmt50 {margin-top: 50px;}
.spmt30 {margin-top: 30px;}
.spmb20 {margin-bottom: 20px;}
.spmb20 {margin-bottom: 10px;}
.spmt5 {margin-top: 5px;}
.spmt15 {margin-top: 15px;}

select.subsearchselect {
  width: 198px;
}

input.subsearchinput {
  width: 190px;
}

body {
  padding-top: 20px;
}

img#overview-map {
  border: 1px solid #CCC;
  margin-top: 8px;
}

.map_small {
  width: 297px;
  height: 300px;
  margin: 10px 0px 10px 0px;
  border: 1px solid #ccc;
}

#map_canvas_main {
  width: 700px;
  height: 700px;
  margin: 10px 0px 10px 0px;
  border: 1px solid #ccc;
}

#map_canvas_main img {
max-width: none;
}

.suburbs {
  list-style: none;
}

.thumb {
  float: left;
  margin: -1em 1em 1.5em 0em;
  padding-bottom: 1em;
  height: 95px;
  width: 95px;
}

.suburbs li {
  clear: both;
  height: 15px;
  padding-top: 5px;
  margin-bottom: 5px;
  width: 188px;
  background-color: white;
}

.suburbkey { 
    opacity: 0.65;
    float: left;
    width: 15px;
    height: 15px;
    margin-right: 20px;
}

ul.suburbs {
  margin: 0 0 9px 5px;

}

/** Detail View **/
img.suburb {
  float: left;
  border: 1px solid black;
  margin-right: 3em;
  margin-bottom: 2em;
  background-color: white;
  padding: 0em;
  height: 300px;
  width: 300px;
}

ul.suburb-thumbs {
  margin: 0;
  list-style: none;
}

ul.suburb-thumbs li {
  border: 1px solid black;
  /* display: inline-block; */
  float: left;
  width: 86px;
  margin: 5px;
  background-color: white;
}

ul.suburb-thumbs img {
  height: 86px;
  width: 86px;
  padding: 0em;
  float: left;
}

ul.suburb-thumbs img:hover {
  cursor: pointer;
}


ul.specs {
  clear: both;
  margin: 20px 0px;
  padding: 0;
  list-style: none;
}

ul.specs > li {
  display: inline-block;
  width: 160px;
  vertical-align: top;
  padding: 0px 5px 0px 5px;
}

span.subdetails  {
  font-weight: bold;
  font-size: 1.2em;
}

ul.specs dt {
  font-weight: bold;
}

h1 {
  border-bottom: 1px solid gray;
}



.widget {
width: 280px;
padding: 10px;
margin-top: 5px;
margin-bottom: 10px;
font-size: 14px;
font-weight: 200;
line-height: 30px;
color: inherit;
background-color: #EEE;
-webkit-border-radius: 6px;
-moz-border-radius: 6px;
border-radius: 6px;
}

.fast-facts { background-color: #8EC5E0;}

.essentials { background-color: #EEE;} 










