<div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="#/suburbs/">Brisbane Suburb Profiles</a>
          <div class="nav-collapse collapse"> 
             <a href="#/suburbs/" ng-show="buttonstate.mainmap" class="btn btn-small btn-primary pull-right"><i class="icon-home icon-white"></i> Show all suburbs map</a>
            <a href="#/favourites" ng-show="buttonstate.showfavourites"  class="btn btn-small pull-right"><i class="icon-eye-open icon-black"></i> Show Favourites</a>
           
            <a href="#/favourites" ng-click="add();" ng-show="buttonstate.addfavourites" class="btn btn-small pull-right"><i class="icon-heart icon-black"></i> Add {{favourites.currentsuburb}} to Favourites</a> 
          </div>
        </div>
      </div>