<div class="navbar-inner">

        <div class="container">

          <a class="brandlogo" href="www.uq.edu.au/student-services/" ><img class="uqlogo" src="img/uqlogo.png" /></a>
          <a class="brand" href="#/suburbs/">UQ Accommodation  | <span class="maintitle">Suburb Guide</span></a>
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>   
          <div class="nav-collapse collapse spmt15"> 
             <a href="#/suburbs/" ng-show="buttonstate.mainmap" class="btn btn-small btn-primary pull-right"><i class="icon-home icon-white"></i> Suburbs map</a>
            <a href="#/favourites" ng-show="buttonstate.showfavourites"  class="btn btn-small pull-right"><i class="icon-eye-open icon-black"></i> My Shortlist</a>
           
            <a href="#/favourites" ng-click="add();" ng-show="buttonstate.addfavourites" class="btn btn-small pull-right"><i class="icon-plus icon-black"></i> Add to Shortlist</a> 
          </div>
        </div>
      </div>