{{}} <!-- these brackets to fix bug in ie8 -->
<div class="distance-control">
<h4>Travel time to UQ St Lucia campus <span ng-show="showdistance()">{{subfilter.traveltimes.stlucia}} minutes</span></h4>
<p>Choose options below to show travel times by public transport</p>
<div class="btn-group" data-toggle="buttons-radio">
  <button type="button" class="btn stlucia-distance" ng-click="setfilter(10)"><div class="btn-chip ttmin-10"></div> 10 mins  </button>
  <button type="button" class="btn stlucia-distance" ng-click="setfilter(20)"><div class="btn-chip ttmin-20"></div> 20 mins  </button>
 <button type="button" class="btn stlucia-distance" ng-click="setfilter(30)"><div class="btn-chip ttmin-30"> </div> 30 mins  </button>
  <button type="button" class="btn stlucia-distance" ng-click="setfilter(40)"><div class="btn-chip ttmin-40"></div> 40 mins  </button>
  <button type="button" class="btn stlucia-distance" ng-click="setfilter(50)"><div class="btn-chip ttmin-50"></div> 50 mins  </button>
  <button type="button" class="btn btn-inverse stlucia-distance" ng-click="setfilter(0)">Show all travel times</button>
</div>
</div>

<suburbsmap suburbsdata="{{suburbs | filter: subfilter.name | filter:{traveltimes.stlucia: subfilter.traveltimes.stlucia} }}" distance="{{subfilter.traveltimes.stlucia}}" id="map_canvas_main"></suburbsmap>


