{{}} <!-- these brackets to fix bug in ie8 -->
<h3 class="spmb10">University of Queensland St Lucia campus by public transport <span ng-show="showdistance()">{{subfilter.traveltimes.stlucia}} minutes</span></h3>
<p>Click buttons below to filter suburbs by travel time.<p>
<div class="btn-group" data-toggle="buttons-radio">
  <div class="btn-chip ttmin-10"></div><button type="button" class="btn stlucia-distance" ng-click="setfilter(10)">10 mins  </button>
  <div class="btn-chip ttmin-20"></div><button type="button" class="btn stlucia-distance" ng-click="setfilter(20)">20 mins  </button>
  <div class="btn-chip ttmin-30"></div><button type="button" class="btn stlucia-distance" ng-click="setfilter(30)">30 mins  </button>
  <div class="btn-chip ttmin-40"></div><button type="button" class="btn stlucia-distance" ng-click="setfilter(40)">40 mins  </button>
  <div class="btn-chip ttmin-50"></div><button type="button" class="btn stlucia-distance" ng-click="setfilter(50)">50 mins  </button>
  <button type="button" class="btn btn-inverse stlucia-distance" ng-click="setfilter(0)">Show all</button>
</div>

<gmapmain gdata="{{suburbs | filter: subfilter.name | filter:{traveltimes.stlucia: subfilter.traveltimes.stlucia} }}" distance="{{subfilter.traveltimes.stlucia}}" id="map_canvas_main"></gmapmain>


