{{}} <!-- these brackets to fix bug in ie8 -->
<h5>St Lucia by public transport</h5>

<div class="btn-group" data-toggle="buttons-radio">
  <button type="button" class="btn stlucia-distance" ng-click="setfilter(10)">10 mins  </button><div class="btn-chip ttmin-10"></div>
  <button type="button" class="btn stlucia-distance" ng-click="setfilter(20)">20 mins  </button><div class="btn-chip ttmin-20"></div>
  <button type="button" class="btn stlucia-distance" ng-click="setfilter(30)">30 mins  </button><div class="btn-chip ttmin-30"></div>
  <button type="button" class="btn stlucia-distance" ng-click="setfilter(40)">40 mins  </button><div class="btn-chip ttmin-40"></div>
  <button type="button" class="btn stlucia-distance" ng-click="setfilter(50)">50 mins  </button><div class="btn-chip ttmin-50"></div>
  <button type="button" class="btn stlucia-distance" ng-click="setfilter(0)">Reset</button>
</div>

<gmapmain gdata="{{suburbs | filter: subfilter.name | filter:{traveltimes.stlucia: subfilter.traveltimes.stlucia} }}" distance="{{subfilter.traveltimes.stlucia}}" id="map_canvas_main"></gmapmain>


