<img src="./img/overview-map.jpg" usemap="#Map" border="0">
<map name="Map" id="Map">
  <area shape="rect" coords="332,304,391,322" href="#/suburbs/st-lucia" />
  <area shape="rect" coords="368,349,427,368" href="#/suburbs/yeronga" />
  <area shape="rect" coords="474,321,570,340" href="#/suburbs/greenslopes" />
  <area shape="rect" coords="563,343,621,376" href="#/suburbs/holland-park" />
  <area shape="rect" coords="562,387,629,414" href="#/suburbs/holland-park-west" />
  <area shape="rect" coords="599,418,676,444" href="#/suburbs/mount-gravatt-east" />
  <area shape="rect" coords="347,233,420,254" href="#/suburbs/west-end" />
  <area shape="rect" coords="411,299,525,313" href="#/suburbs/woolloongabba" />
  <area shape="rect" coords="391,399,468,416" href="#/suburbs/moorooka" />
  <area shape="rect" coords="437,457,511,482" href="#/suburbs/salisbury" />
  <area shape="rect" coords="594,492,699,524" href="#/suburbs/upper-mount-gravatt" />
  <area shape="rect" coords="511,281,582,298" href="#/suburbs/coorparoo" />
  <area shape="rect" coords="236,377,305,399" href="#/suburbs/graceville" />
  <area shape="rect" coords="380,199,471,226" href="#/suburbs/brisbane-city" />
  <area shape="rect" coords="307,412,368,432" href="#/suburbs/rocklea" />
  <area shape="rect" coords="425,148,493,188" href="#/suburbs/fortitude-valley" />
  <area shape="rect" coords="475,222,535,255" href="#/suburbs/east-brisbane" />
  <area shape="rect" coords="546,237,600,265" href="#/suburbs/norman-park" />
  <area shape="rect" coords="586,273,655,297" href="#/suburbs/camp-hill" />
  <area shape="rect" coords="271,242,338,267" href="#/suburbs/toowong" />
  <area shape="rect" coords="193,289,290,317" href="#/suburbs/indooropilly" />
</map>
