 <!--Sidebar content-->
<div id="sidecontrol" >

  <h5>Filter suburbs by travel time to St Lucia:</h5>
<label class="radio">
<input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" ng-click="setTime(10)">
  <span class="distance-key">10 mins </span> by public transport
</label>
<label class="radio">
  <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2" ng-click="setTime(20)">
  <span class="distance-key">20 mins</span> by public transport
</label>
<label class="radio">
  <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2" ng-click="setTime(30)">
  <span class="distance-key">30  mins</span> by public transport
</label>
<label class="radio">
  <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2" ng-click="setTime(40)">
  <span class="distance-key">40 mins </span>by public transport
</label>
<label class="radio">
  <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2" ng-click="setTime(50)">
  <span class="distance-key">50  mins </span>by public transport
</label>



      <h5>Search for suburb</h5>
      <input class="subsearchinput" ng-click="setTime(0)" ng-model="query.name">

      <h5>Filter suburbs by</h5>
      <select class="subsearchselect" ng-model="orderProp" ng-change="setTime(0)">
        <option value="name" >Alphabetical</option>
        <option value="traveltimes.stlucia">Nearest St Lucia</option>
        <option value="traveltimes.herston">Nearest Herston</option>
        <option value="distance.city">Nearest City</option>
      </select>
        <h5 ng-show="message">Distance from UQ St Lucia: {{time}} mins</h5>
        <ul class="suburbs">
        <li ng-repeat="suburb in suburbs | filter:query.name | filter:time | orderBy:orderProp" class="thumbnail"> 
    
          <span class="suburb-key" style="background-color: {{suburb.traveltimes.color}}"></span><h4><a href="#/suburbs/{{suburb.id}}">{{suburb.name}}</a></h4>
          
          
        </li>
      </ul>
    </div>