
<div class="row">
   <div class="span5 ng-cloak">
    <h1 class="ng-cloak spmb" style="
    margin-bottom:  30px;">{{suburb.name}}</h1>
      
    <p ng-repeat="para in suburb.description"> {{para}}</p> 
    
   <h3>Fast Facts</h3>
<div class="fast-facts">
  <p><strong>St Lucia by bus: </strong> {{suburb.traveltimes.stlucia}} minutes</p>
    <p><strong>Herston by bus: </strong> {{suburb.traveltimes.herston}} minutes</p>
   <p><strong>Distance to city: </strong>{{suburb.distance.city}} kms</p> 
  </div>
  <blockquote class="spmt50"> <p><strong>Don't miss! </strong>{{suburb.strapline}} </p></blockquote>
   </div>

   <div class="span4">
    <gmap gdata="{{suburb.gmap}}" id="map_canvas" ></gmap>
     <img ng-src="{{mainImageUrl}}" class="suburb">
<ul class="suburb-thumbs spmt30">
  <li ng-repeat="img in suburb.images">
    <img ng-src="{{img}}" ng-click="setImage(img)">
  </li>
</ul>

   </div>
     
</div>

<ul class="specs">
  <li>
    <i class="icon-shopping-cart"></i>
    <span>Shopping</span>
    <p>{{suburb.shopping}}</p>
  </li>
  <li>
    <i class="icon-road"></i>
    <span>Transport</span>
    <p>{{suburb.transport}}</p>
  </li>
  <li>
     <i class="icon-glass"></i>
    <span>Social</span>
   <p>{{suburb.social}}</p>
  </li>
  <li>
<i class="icon-briefcase"></i>
    <span>Cost</span>
    <p>{{suburb.cost}}</p>
  </li>
</ul>

