 <!--Sidebar content-->
<div id="sidecontrol" >


<!--[if gte IE 9]><!-->

<h5>Travel time to St Lucia:</h5>
<form action="">
<label class="radio">
<input type="radio" name="traveltime" ng-model="filter.traveltimes.stlucia" value="0" ng-change="resetname()" >
  <span class="distance-key">show all</span>
</label>  
<label class="radio">
<input type="radio" name="traveltime" ng-model="filter.traveltimes.stlucia" value="10" ng-change="resetname()">
  <span class="distance-key">10 mins </span> by public transport
</label>
<label class="radio">
<input type="radio" name="traveltime" ng-model="filter.traveltimes.stlucia" value="20" ng-change="resetname()">
  <span class="distance-key">20 mins</span> by public transport
</label>
<label class="radio">
  <input type="radio" name="traveltime" ng-model="filter.traveltimes.stlucia" value="30" ng-change="resetname()">
  <span class="distance-key">30 mins</span> by public transport
</label>
<label class="radio">
  <input type="radio" name="traveltime" ng-model="filter.traveltimes.stlucia" value="40" ng-change="resetname()">
  <span class="distance-key">40 mins </span>by public transport
</label>
<label class="radio">
 <input type="radio" name="traveltime" ng-model="filter.traveltimes.stlucia" value="50" ng-change="resetname()">
  <span class="distance-key">50 mins </span>by public transport
</label>
</form>

<!--<![endif]-->

      <h5>Search for suburb</h5>
      <input class="subsearchinput" ng-model="filter.name" ng-click="resettime();">

      <h5>Filter suburbs by</h5>
      <select class="subsearchselect" ng-model="orderProp" ng-change="resettime(); resetname()">
        <option value="name">Alphabetical</option>
        <option value="traveltimes.stlucia">Nearest St Lucia</option>
        <option value="traveltimes.herston">Nearest Herston</option>
        <option value="distance.city">Nearest City</option>
      </select>
        <ul class="suburbs">
        <li ng-repeat="suburb in suburbs | filter:{traveltimes.stlucia: filter.traveltimes.stlucia} | filter:filter.name | orderBy:orderProp" class="thumbnail"> 

         <!-- <li ng-repeat="suburb in suburbs | filter:query.name | filter:traveltimes.stlucia | orderBy:orderProp" class="thumbnail">   -->
       
          <div class="suburb-key" ng-style="{'background-color': suburb.traveltimes.color}"></div><h4><a href="#/suburbs/{{suburb.id}}">{{suburb.name}}</a></h4>
        </li>
      </ul>
    </div>