 <!--Sidebar content-->
<div id="sidecontrol" >

  <h5>Distance from St Lucia </h5>
<div class="btn-group-time" data-toggle="buttons-radio">
  <button type="button" class="btn btn10" ng-click="setTime(10)">10</button>
  <button type="button" class="btn btn20" ng-click="setTime(20)">20</button>
  <button type="button" class="btn btn30" ng-click="setTime(30)">30</button>
  <button type="button" class="btn btn40" ng-click="setTime(40)">40</button>
  <button type="button" class="btn btn50" ng-click="setTime(50)">50</button>
</div>

      <h5>Search for suburb</h5>
      <input class="subsearchinput" ng-click="setTime(0)" ng-model="query">

      <h5>Filter suburbs by</h5>
      <select class="subsearchselect" ng-model="orderProp" ng-change="setTime(0)">
        <option value="name" >Alphabetical</option>
        <option value="traveltimes.stlucia">Nearest St Lucia</option>
        <option value="traveltimes.herston">Nearest Herston</option>
        <option value="distance.city">Nearest City</option>
      </select>
        <h5 ng-show="message">Distance from UQ St Lucia: {{time}} mins</h5>
        <ul class="suburbs">
        <li ng-repeat="suburb in suburbs | filter:query | filter:time | orderBy:orderProp" class="thumbnail" style="background-color: {{suburb.traveltimes.color}}"> 
          <h4><a href="#/suburbs/{{suburb.id}}">{{suburb.name}}</a></h4>
        </li>
      </ul>
    </div>